In [6]:
# Imports & Setup
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Plot style
sns.set(style="whitegrid")
plt.rcParams["figure.figsize"] = (10, 6)

# Load processed data
data_path = "/data/clean/merged_clean.csv"
df = pd.read_csv("data/clean/merged_clean.csv")
df

,date,close,high,low,open,volume,gdp
0,2015-04-01,2059.689941,2067.629883,2048.379883,2067.629883,3543270000,18279.784
1,2015-07-01,2077.419922,2082.780029,2067.000000,2067.000000,3727260000,18401.626
2,2015-10-01,1923.819946,1927.209961,1900.699951,1919.650024,3983600000,18435.137
3,2016-04-01,2072.780029,2075.070068,2043.979980,2056.620117,3749990000,18711.702
4,2016-07-01,2102.949951,2108.709961,2097.899902,2099.340088,3458890000,18892.639
5,2018-10-01,2924.590088,2937.060059,2917.909912,2926.290039,3375890000,20917.867
6,2019-04-01,2867.189941,2869.399902,2848.629883,2848.629883,3560090000,21397.938
7,2019-07-01,2964.330078,2977.929932,2952.219971,2971.409912,3524860000,21717.171
8,2019-10-01,2940.250000,2992.530029,2938.699951,2983.689941,3560750000,21933.217
9,2020-04-01,2470.500000,2522.750000,2447.489990,2498.080078,5964000000,19958.291
10,2020-07-01,3115.860107,3128.439941,3101.169922,3105.919922,4449230000,21704.437
11,2020-10-01,3380.800049,3397.179932,3361.389893,3385.870117,4076340000,22087.160
12,2021-04-01,4019.870117,4020.629883,3992.780029,3992.780029,4162130000,23425.910
13,2021-07-01,4319.939941,4320.660156,4300.729980,4300.729980,3788230000,23982.379
14,2021-10-01,4357.040039,4375.189941,4288.520020,4317.160156,4010370000,24813.600
15,2022-04-01,4545.859863,4548.700195,4507.569824,4540.319824,4562940000,25861.292
16,2022-07-01,3825.330078,3829.820068,3752.100098,3781.000000,4046950000,26336.304
17,2024-04-01,5243.770020,5263.950195,5229.200195,5257.970215,3325930000,29147.044
18,2024-07-01,5475.089844,5479.549805,5446.529785,5471.080078,3488760000,29511.664
19,2024-10-01,5708.750000,5757.729980,5681.279785,5757.729980,4025180000,29825.182