In [3]:
# Imports & Setup
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Plot style
sns.set(style="whitegrid")
plt.rcParams["figure.figsize"] = (10, 6)

# Load processed data
data_path = "/data/clean/merged_clean.csv"
df = pd.read_csv("data/clean/merged_clean.csv")
df

,date,close,high,low,open,volume,gdp,cpi,unemployment,indpro,retail
0,2015-01-31,2028.178510,2043.618506,2013.377496,2031.392981,3.866502e+09,18063.529,234.747,5.7,102.7923,428208.0
1,2015-02-28,2082.195794,2086.168952,2069.651046,2076.614727,3.619766e+09,18063.529,235.342,5.5,102.1366,427119.0
2,2015-03-31,2079.990440,2090.509988,2070.099559,2081.527283,3.485266e+09,18063.529,235.976,5.4,101.7869,433647.0
3,2015-04-30,2094.862839,2102.731887,2085.031448,2094.028123,3.431473e+09,18279.784,236.222,5.4,101.2255,434470.0
4,2015-05-31,2111.943518,2119.614966,2103.135986,2111.099500,3.259386e+09,18279.784,237.001,5.6,100.7675,437865.0
...,...,...,...,...,...,...,...,...,...,...,...
115,2024-08-31,5478.214577,5512.019576,5440.693182,5473.899969,3.686241e+09,29511.664,314.131,4.2,103.0196,697157.0
116,2024-09-30,5621.260449,5648.423511,5588.659521,5624.488989,3.978242e+09,29511.664,314.851,4.1,102.5954,703079.0
117,2024-10-31,5792.319548,5815.695143,5768.833432,5797.090438,3.583149e+09,29825.182,315.564,4.1,102.2138,707613.0
118,2024-11-30,5929.915991,5948.672974,5899.855493,5920.711963,4.205099e+09,29825.182,316.449,4.2,101.9503,712145.0
119,2024-12-31,6010.908552,6041.461426,5987.199521,6018.153297,4.098329e+09,29825.182,317.603,4.1,103.0447,717662.0

In [9]:
df.sort_values(by="unemployment", ascending=False).head(15)

,date,close,high,low,open,volume,gdp,cpi,unemployment,indpro,retail
63,2020-04-30,2761.975226,2789.571417,2730.089518,2758.609026,5.886103e+09,19958.291,256.032,14.8,84.6812,401028.0
64,2020-05-31,2919.608484,2942.121497,2895.077502,2919.705505,5.356760e+09,19958.291,255.802,13.2,86.0108,478449.0
65,2020-06-30,3104.660933,3130.544966,3074.186812,3106.273626,5.975404e+09,19958.291,257.042,11.0,91.6745,518038.0
66,2020-07-31,3207.619096,3223.786366,3182.509976,3203.598644,4.405824e+09,21704.437,258.352,10.2,95.0037,526304.0
67,2020-08-31,3391.710019,3399.883347,3374.263323,3384.889997,3.926977e+09,21704.437,259.316,8.4,95.9294,530735.0
68,2020-09-30,3365.516671,3398.818092,3336.790946,3373.977132,4.395751e+09,21704.437,259.997,7.8,95.8914,541302.0
69,2020-10-31,3418.699996,3445.023648,3397.303633,3423.191340,4.088135e+09,22087.160,260.319,6.9,96.5256,539114.0
70,2020-11-30,3548.992480,3569.341504,3526.220508,3543.430005,5.062359e+09,22087.160,260.911,6.7,96.9529,533941.0
71,2020-12-31,3695.310014,3707.620894,3677.320923,3692.005449,4.380713e+09,22087.160,262.045,6.7,98.2039,538548.0
72,2021-01-31,3793.748432,3818.135806,3768.962133,3797.387361,5.585147e+09,22680.693,262.639,6.4,98.8135,559230.0
73,2021-02-28,3883.432116,3901.095793,3856.733167,3878.793161,5.214859e+09,22680.693,263.573,6.2,95.5072,544891.0
74,2021-03-31,3910.508280,3935.713060,3883.106976,3906.684793,5.320485e+09,22680.693,264.847,6.1,98.1929,603581.0
75,2021-04-30,4141.176200,4152.001395,4122.001895,4133.939511,3.958290e+09,23425.910,266.625,6.1,98.3317,608961.0
77,2021-06-30,4238.489546,4249.386408,4223.202748,4236.976807,4.661099e+09,23425.910,270.710,5.9,99.6483,611950.0
76,2021-05-31,4167.849536,4187.078516,4146.477979,4167.329993,4.416093e+09,23425.910,268.404,5.8,99.1867,605282.0

Key notes: the top 9 rates of unemployment were found in 2020. It peaked around when Covid-19 first spiked (Apr 2020), and started it's fall again the following months after. Most likely due to many jobs needing to go remote.